# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/_build/
docs/build/


# setuptools
build/
dist/
*.egg-info

# Jupyter Notebook
.ipynb_checkpoints

#PyCharm
.idea/

#data directory
src/pynwb/data/

# shell scripts (e.g. used with fswatch)
*.sh

docs/tmpl.conf.py
docs/tmpl.index.rst
