build: false

branches:
 only:
  - dev

environment:
  matrix:
    - PYTHON_VERSION: 2.7
      MINICONDA: C:\Miniconda-x64
    - PYTHON_VERSION: 3.6
      MINICONDA: C:\Miniconda36-x64

init:
  - "ECHO %PYTHON_VERSION% %MINICONDA%"

install:
  - "set PATH=%MINICONDA%;%MINICONDA%\\Scripts;%PATH%"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - "conda create -q -n test-environment python=%PYTHON_VERSION% numpy scipy"
  - activate test-environment
  - pip install -r %APPVEYOR_BUILD_FOLDER%\requirements.txt
  - pip install %APPVEYOR_BUILD_FOLDER%\

test_script:
  - python %APPVEYOR_BUILD_FOLDER%\test.py
