trigger:
- dev

jobs:

- job: 'Dummy'
  displayName: 'Dummy'

  pool:
    vmImage: 'ubuntu-16.04'

  steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.7'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
    displayName: 'Install build dependencies'
    
  - script: |
      python --version
    displayName: 'Check Python version'

- job: 'Test'
  displayName: "Test PyNWB"
  dependsOn: Dummy

  strategy:
    matrix:
      Linux-py3.7:
        imageName: 'ubuntu-16.04'
        pythonVersion: '3.7'
        testToxEnv: 'py37'
        coverageToxEnv: 'coverage-py37'
        buildToxEnv: 'build-py37'
        testWheelInstallEnv: 'wheelinstall-py37'

      macOS-py3.7:
        imageName: 'macos-10.13'
        pythonVersion: '3.7'
        testToxEnv: 'py37'
        coverageToxEnv: 'coverage-py37'
        buildToxEnv: 'build-py37'
        testWheelInstallEnv: 'wheelinstall-py37'

      Windows-py3.7:
        imageName: 'vs2017-win2016'
        pythonVersion: '3.7'
        testToxEnv: 'py37'
        coverageToxEnv: 'coverage-py37'
        buildToxEnv: 'build-py37'
        testWheelInstallEnv: 'wheelinstall-py37'
        
      Windows-py3.6:
        imageName: 'vs2017-win2016'
        pythonVersion: '3.6'
        testToxEnv: 'py36'
        coverageToxEnv: 'coverage-py36'
        buildToxEnv: 'build-py36'
        testWheelInstallEnv: 'wheelinstall-py36'
        
      Windows-py3.5:
        imageName: 'vs2017-win2016'
        pythonVersion: '3.5'
        testToxEnv: 'py35'
        coverageToxEnv: 'coverage-py35'
        buildToxEnv: 'build-py35'
        testWheelInstallEnv: 'wheelinstall-py35'

  pool:
    vmImage: $(imageName)

  steps:

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(pythonVersion)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      python -m pip install --upgrade setuptools
      python -m pip install setuptools wheel virtualenv tox
    displayName: 'Install build dependencies'
    
  - bash: |
      tox -e $(testToxEnv)
      tox -e $(coverageToxEnv)
      tox -e $(buildToxEnv)
      tox -e $(testWheelInstallEnv) --recreate --installpkg dist/*-none-any.whl
    displayName: 'Run all tests'
