# minimum versions of package dependencies for installing PyNWB
h5py==2.10  # support for selection of datasets with list of indices added in 2.10
hdmf @ git+https://github.com/catalystneuro/hdmf.git@add_measurement_vector_data
numpy==1.16
pandas==1.0.5
python-dateutil==2.7
setuptools
