# pinned dependencies to reproduce an entire development environment to use PyNWB, run PyNWB tests, check code style,
# compute coverage, and create test environments. note that depending on the version of python installed, different
# versions of requirements may be installed due to package incompatibilities.
#
black==24.3.0
codespell==2.2.6
coverage==7.3.2
pytest==7.4.3
isort==5.12.0
pytest-cov==4.1.0
tox==4.11.3
ruff==0.1.3
