# pinned dependencies to reproduce an entire development environment to use PyNWB, run PyNWB tests, check code style,
# compute coverage, and create test environments. note that depending on the version of python installed, different
# versions of requirements may be installed due to package incompatibilities.
#
black==26.3.0
codespell==2.4.2
coverage==7.13.4
pytest==9.0.2
isort==8.0.1
pytest-cov==7.0.0
tox==4.49.1
ruff==0.15.5
