# dependencies to generate the documentation for PyNWB and test run the sphinx gallery examples that do not require
# ROS3 support in h5py. For those examples, use the conda env specified in environment-ros3.yml
sphinx>=4  # improved support for docutils>=0.17
sphinx_rtd_theme>=1  # <1 does not work with docutils>=0.17
matplotlib
sphinx-gallery
allensdk>=2.11.0  # python 3.8 is not supported in allensdk<2.11
MarkupSafe==2.0.1  # resolve incompatibility between jinja2 and markupsafe: https://github.com/AllenInstitute/AllenSDK/issues/2308
Pillow
sphinx-copybutton
dataframe_image   # used to render large dataframe as image in the sphinx gallery to improve html display
lxml  # used by dataframe_image when using the matplotlib backend
