version: 2

references:

  run-style-check: &run-style-check
    name: Run Style Checks
    command: |
      . ../venv/bin/activate
      pip install flake8
      flake8 src/pynwb
      flake8 tests
      flake8 --ignore E402,E501,W504 docs/gallery

  initialize-venv: &initialize-venv
    name: Initialize Virtual Environment
    command: |
      python -m virtualenv ../venv || python -m venv ../venv
      . ../venv/bin/activate

  ci-steps: &ci-steps
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          <<: *initialize-venv
      - run:
          name: Run the tests
          command: |
            . ../venv/bin/activate
            pip install tox
            tox -e $TEST_TOX_ENV
          # Install is expected to be quick. Increase timeout in case there are some network issues.
          # While pip installing tox does not output by default. Circle thinks task is dead after 10 min.
          no_output_timeout: 30m
      - run:
          name: Run coverage and submit to codecov-io if COVERAGE_TOX_ENV != ""
          command: |
            . ../venv/bin/activate
            if [[ "${COVERAGE_TOX_ENV}" != "" ]]; then
              tox -e $COVERAGE_TOX_ENV
            fi
      - run:
          name: Build wheel and source distribution
          command: |
            . ../venv/bin/activate
            tox -e $BUILD_TOX_ENV
      - run:
          name: Test installation from a wheel
          command: |
            . ../venv/bin/activate
            tox -e $TEST_WHEELINSTALL_ENV --recreate --installpkg dist/*-none-any.whl
      - run:
          name: Remove distributions if UPLOAD_WHEELS != true
          command: |
            if [[ "${UPLOAD_WHEELS}" != "true" ]]; then
              echo "Discarding distributions"
              ls -1 dist
              rm -rf dist/*
            else
              echo "Keeping distributions for upload"
              ls -1 dist
            fi
      - persist_to_workspace:
          root: ./
          paths:
            - dist

  conda-steps: &conda-steps
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          name: Configure conda
          command: |
            conda config --set always_yes yes --set changeps1 no
            conda config --add channels conda-forge
            conda install python=$CONDA_PYTHON_VER
            conda install virtualenv
            conda install tox
      - run:
          name: Run the tests
          command: |
            tox -e $TEST_TOX_ENV
      - run:
          name: Build wheel and source distribution
          command: |
            tox -e $BUILD_TOX_ENV
      - run:
          name: Test installation from a wheel
          command: |
            tox -e $TEST_WHEELINSTALL_ENV --recreate --installpkg dist/*-none-any.whl

  gallery-steps: &gallery-steps
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - restore_cache:
          keys:
            - ophys-data-cache
      - run:
          <<: *initialize-venv
      - run:
          name: Run the gallery tests
          command: |
            . ../venv/bin/activate
            pip install tox
            tox -e $TEST_TOX_ENV
          no_output_timeout: 30m
      - save_cache:
          key: ophys-data-cache
          paths: ophys_experiment_data

  no_filters: &no_filters
    filters:
      tags:
        ignore:
          # exclude tags created by "ci_addons publish_github_release"
          - /^latest$/
          - /^latest-tmp$/

jobs:
  flake8:
    docker:
      - image: circleci/python:3.8.1-buster
    steps:
      - checkout
      - run:
          <<: *initialize-venv
      - run:
          <<: *run-style-check

  python35:
    docker:
      - image: circleci/python:3.5.9-stretch
    environment:
     - TEST_TOX_ENV: "py35"
     - COVERAGE_TOX_ENV: ""
     - BUILD_TOX_ENV: "build-py35"
     - TEST_WHEELINSTALL_ENV: "wheelinstall-py35"
    <<: *ci-steps

  python36:
    docker:
      - image: circleci/python:3.6.10-stretch
    environment:
     - TEST_TOX_ENV: "py36"
     - COVERAGE_TOX_ENV: ""
     - BUILD_TOX_ENV: "build-py36"
     - TEST_WHEELINSTALL_ENV: "wheelinstall-py36"
     - UPLOAD_WHEELS: "true"
    <<: *ci-steps

  python37:
    docker:
      - image: circleci/python:3.7.6-stretch
    environment:
     - TEST_TOX_ENV: "py37"
     - COVERAGE_TOX_ENV: "coverage"
     - BUILD_TOX_ENV: "build-py37"
     - TEST_WHEELINSTALL_ENV: "wheelinstall-py37"
    <<: *ci-steps

  python35-min-req:
    docker:
      - image: circleci/python:3.5.9-stretch
    environment:
     - TEST_TOX_ENV: "py35-min-req"
     - COVERAGE_TOX_ENV: ""
     - BUILD_TOX_ENV: "build-py35-min-req"
     - TEST_WHEELINSTALL_ENV: "wheelinstall-py35-min-req"
    <<: *ci-steps

  miniconda35:
    docker:
      - image: continuumio/miniconda3:4.3.27p0
    environment:
      - CONDA_PYTHON_VER: "3.5"
      - TEST_TOX_ENV: "py35"
      - BUILD_TOX_ENV: "build-py35"
      - TEST_WHEELINSTALL_ENV: "wheelinstall-py35"
    <<: *conda-steps

  miniconda36:
    docker:
      - image: continuumio/miniconda3:4.7.12
    environment:
      - CONDA_PYTHON_VER: "3.6"
      - TEST_TOX_ENV: "py36"
      - BUILD_TOX_ENV: "build-py36"
      - TEST_WHEELINSTALL_ENV: "wheelinstall-py36"
    <<: *conda-steps

  miniconda37:
    docker:
      - image: continuumio/miniconda3:4.7.12
    environment:
      - CONDA_PYTHON_VER: "3.7"
      - TEST_TOX_ENV: "py37"
      - BUILD_TOX_ENV: "build-py37"
      - TEST_WHEELINSTALL_ENV: "wheelinstall-py37"
    <<: *conda-steps

  gallery36:
    docker:
      - image: circleci/python:3.6.3-jessie
    environment:
     - TEST_TOX_ENV: "gallery-py36"
    <<: *gallery-steps

  gallery37:
    docker:
      - image: circleci/python:3.7.6-stretch
    environment:
     - TEST_TOX_ENV: "gallery-py37"
    <<: *gallery-steps

  gallery36-min-req:
    docker:
      - image: circleci/python:3.6.3-jessie
    environment:
     - TEST_TOX_ENV: "gallery-py36-min-req"
    <<: *gallery-steps

  test-validation:
    docker:
      - image: circleci/python:3.7.6-stretch
    steps:
      - checkout
      - run: git submodule sync
      - run: git submodule update --init
      - run:
          <<: *initialize-venv
      - run:
          name: Run the tests
          command: |
            . ../venv/bin/activate
            pip install tox
            tox -e validation-py37
          # Install is expected to be quick. Increase timeout in case there are some network issues.
          # While pip installing tox does not output by default. Circle thinks task is dead after 10 min.
          no_output_timeout: 30m

  deploy-dev:
    docker:
      - image: circleci/python:3.7.6-stretch
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run:
          name: Publish wheel and source distribution as a GitHub pre-release
          command: |
            python -m venv ../venv
            . ../venv/bin/activate
            pip install -U scikit-ci-addons
            echo "CIRCLE_SHA1 [$CIRCLE_SHA1]"
            ci_addons publish_github_release NeurodataWithoutBorders/pynwb  \
                --prerelease-packages "dist/*" \
                --prerelease-sha $CIRCLE_SHA1 \
                --prerelease-packages-clear-pattern "*" \
                --prerelease-packages-keep-pattern "*dev<COMMIT_DISTANCE>*" \
                --re-upload \
                --exit-success-if-missing-token

  deploy-release:
    docker:
      - image: circleci/python:3.7.6-stretch
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Deploy release
          command: |
            echo "Deploy release"
            python -m venv ../venv
            . ../venv/bin/activate
            pip install twine
            ls dist
            twine upload -u $PYPI_USER -p $PYPI_PASSWORD --skip-existing dist/*
      - run:
          name: Publish wheel and source distribution as a GitHub release
          command: |
            python -m venv ../venv
            . ../venv/bin/activate
            pip install githubrelease
            githubrelease release $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME \
              create $CIRCLE_TAG --name $CIRCLE_TAG \
              --publish ./dist/*

workflows:
  version: 2
  test-package-publish:
    jobs:
      - flake8:
          <<: *no_filters
      - python35:
          <<: *no_filters
      - python36:
          <<: *no_filters
      - python37:
          <<: *no_filters
      - python35-min-req:
          <<: *no_filters
      - miniconda35:
          <<: *no_filters
      - miniconda36:
          <<: *no_filters
      - miniconda37:
          <<: *no_filters
      - gallery36:
          <<: *no_filters
      - gallery37:
          <<: *no_filters
      - gallery36-min-req:
          <<: *no_filters
      - deploy-dev:
          requires:
            - flake8
            - python35
            - python36
            - python37
            - python35-min-req
            - miniconda35
            - miniconda36
            - miniconda37
            - gallery36
            - gallery37
            - gallery36-min-req
          filters:
            tags:
              ignore:
                # exclude tags created by "ci_addons publish_github_release"
                - /^latest$/
                - /^latest-tmp$/
            branches:
              only: dev
      - deploy-release:
          requires:
            - flake8
            - python35
            - python36
            - python37
            - python35-min-req
            - miniconda35
            - miniconda36
            - miniconda37
            - gallery36
            - gallery37
            - gallery36-min-req
          filters:
            tags:
              only: /^[0-9]+(\.[0-9]+)*(\.post[0-9]+)?$/
            branches:
              ignore: /.*/
  commit:
    jobs:
      - test-validation
  nightly:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only: dev
